---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.625;
$base-line-height: 1.5;

$spacing-unit:     10px;

<<<<<<< HEAD
<<<<<<< HEAD
$text-color:       #FFFFFF;
$background-color: #2b1d0e;
$brand-color:      #b87333;
=======
$text-color:       #111;
$background-color: #073642;
$brand-color:      #2a7ae2;
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
$text-color:       #FFFFFF;
$background-color: #2b1d0e;
$brand-color:      #b87333;
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
$bronze-color:       #cd7f32;
$bronze-color-light: lighten($bronze-color, 40%);
$bronze-color-dark:  darken($bronze-color, 25%);

<<<<<<< HEAD
=======
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
		"syntax-highlighting",
		"media",
		"search",
		"solarized-dark"
;
