<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>
    <style>
<<<<<<< HEAD
<<<<<<< HEAD

      body { font-family: 'Serif'; }
      h1, h2, h3 {
        font-family: 'Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Mono'; }
    </style>
  </head>
=======
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
=======
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c

      body { font-family: 'Serif'; }
      h1, h2, h3 {
        font-family: 'Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Mono'; }
    </style>
  </head>
<<<<<<< HEAD
  <body>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js" type="text/javascript">
    </script>
    <script>
      var slideshow = remark.create({
		  sourceUrl: '{{ page.presentation }}'
	  });
    </script>
  </body>
>>>>>>> 8f5ec42... # This is a combination of 17 commits.
=======
>>>>>>> 75a3a68... parent b941a15573ec84c7cffad8c295cb5f898ff4027c
</html>
